<div class="d-flex justify-content-center mt-5">
  <div class="text-center" id="content" *ngIf="favoriteEvents.length > 0; else elseBlock">
    <h3>List of your favorite events</h3>
    <table class="table table-light table-striped overflow-hidden">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Event</th>
          <th scope="col">Category</th>
          <th scope="col">Venue</th>
          <th scope="col">Favorite</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of favoriteEvents; index as i">
          <th>
            {{ i + 1 }}
          </th>
          <td>
            {{ event.date }}
          </td>
          <td>
            {{ event.name }}
          </td>
          <td>
            {{ event.category }}
          </td>
          <td>
            {{ event.venue }}
          </td>
          <td>
            <i class="bi bi-trash" (click)="removeEvent(event.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #elseBlock>
    <div class="card text-center bg-white rounded-pill text-danger fw-bold pb-1" id="no-content">
      No favorite events to show
    </div>
  </ng-template>
</div>