<div class="my-5" [hidden]="!ifSearched || !ifResultList">
  <div class="panel panel-default" *ngIf="eventList.length > 0; else elseBlock">
    <table class="table table-dark table-striped table-borderless overflow-hidden mx-auto text-center">
      <thead>
        <tr>
          <th scope="col">Date/Time</th>
          <th scope="col">Icon</th>
          <th scope="col" class="sort-table" (click)="sortTable('name')">Event</th>
          <th scope="col" class="sort-table" (click)="sortTable('genre')">Genre</th>
          <th scope="col" class="sort-table" (click)="sortTable('venue')">Venue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventList" (click)="showEventDetail(event.id)">
          <th scope="row">
            <p>{{ event.date }}</p>
            <p>{{ event.time }}</p>
          </th>
          <td>
            <img class="event-icon" [src]="event.image_url">
          </td>
          <td>
            {{ event.name }}
          </td>
          <td>
            {{ event.genre }}
          </td>
          <td>
            {{ event.venue }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #elseBlock>
    <div class="card card-white rounded-pill text-danger text-center fw-bold mx-auto">
      No results available
    </div>
  </ng-template>
</div>
