p {
  margin: 0;
}

p.info-label {
  color: #64FFDA;
}

p.ticket-status {
  border-radius: 7px;
  width: max-content;
  padding: 4px 8px;
  margin: auto;
}

a img.icon {
  width: 30px;
  height: 30px;
}

#info-div {
  min-width: 320px;
  width: 43%;
}

#seatmap-div {
  width: 57%;
}

#seatmap-div > img {
  width: 80%;
}