<div class="d-flex flex-wrap" *ngIf="eventDetail !== undefined">
  <div>
    <ul class="list-group">
      <li class="list-group-item border-0" *ngIf="eventDetail.date !== ''">
        <p class="info-label">Date</p>
        <p>{{ eventDetail.date }}</p>
      </li>
      <li class="list-group-item border-0" *ngIf="eventDetail.artists.length !== 0">
        <p class="info-label">Artists/Team</p>
        <p>{{ artistsText }}</p>
      </li>
      <li class="list-group-item border-0" *ngIf="eventDetail.venue !== ''">
        <p class="info-label">Venue</p>
        <p>{{ eventDetail.venue }}</p>
      </li>
      <li class="list-group-item border-0" *ngIf="eventDetail.genre !== ''">
        <p class="info-label">Genres</p>
        <p>{{ eventDetail.genre }}</p>
      </li>
      <li class="list-group-item border-0" *ngIf="eventDetail.price !== ''">
        <p class="info-label">Price Ranges</p>
        <p>{{ eventDetail.price }}</p>
      </li>
      <li class="list-group-item border-0" *ngIf="eventDetail.status !== ''">
        <p class="info-label">Ticket Status</p>
        <p class="ticket-status" [ngStyle]="{ 'background-color': eventDetail.status_color }">
          {{ eventDetail.status }}
        </p>
      </li>
      <li class="list-group-item border-0" *ngIf="eventDetail.buy !== ''">
        <p class="info-label">Buy Ticket At:</p>
        <p>
          <a href="{{ eventDetail.buy }}" target="_blank" rel="noopener noreferrer">Ticketmaster</a>
        </p>
      </li>
    </ul>
  </div>
  <div>
    <img src="{{ eventDetail.seatmap }}" class="seatmap">
  </div>
</div>
<div>
  <span>Share on: </span>
  <a href="#"><img class="icon" src="../../../assets/logo-twitter-png-5860.png"></a>
  <a href="#"><img class="icon" src="../../../assets/facebook-logo-481.png"></a>
</div>