p {
  margin: 0;
}

p.info-label {
  color: #64FFDA;
}

p.ticket-status {
  border-radius: 7px;
  width: max-content;
  padding: 4px 8px;
  margin: auto;
}

a img.icon {
  width: 30px;
  height: 30px;
}

#seatmap-div > img {
  width: 80%;
}

@media all and (max-width: 900px) {
  #info-div {
    width: 100%;
  }

  #seatmap-div {
    width: 100%;
  }
}

@media all and (min-width: 901px) {
  #info-div {
    width: 43%;
  }

  #seatmap-div {
    width: 57%;
  }
}