<div id="event-detail-container" class="mx-auto my-5" [hidden]="!ifSearched || ifResultList">
  <div>
    <button type="button" class="btn btn-link text-white" (click)="hideEventDetail()">
      <mat-icon id="arrow-left">keyboard_arrow_left</mat-icon>
      <span>Back</span>
    </button>
  </div>

  <div class="text-center py-4">
    <span class="text-white fw-bold">{{ eventDetail ? eventDetail.name : '' }}</span>
    <button type="button" id="like-button" class="btn btn-light rounded-circle ms-3" (click)="toggleFavorites()">
      <mat-icon class="heart-icon" *ngIf="addedToFavorites" style="color: red;">favorite</mat-icon>
      <mat-icon class="heart-icon" *ngIf="!addedToFavorites">favorite_border</mat-icon>
    </button>
  </div>

  <div>
    <!-- tab navigator -->
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" color="primary">
      <mat-tab label="Events">
        <app-event-dashboard></app-event-dashboard>
      </mat-tab>
      <mat-tab label="Artists/Team">
        <app-artists-dashboard></app-artists-dashboard>
      </mat-tab>
      <mat-tab label="Venue">
        <app-venue-dashboard></app-venue-dashboard>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
