<div class="container card" [hidden]="ifSearched && !ifResultList" *ngIf="eventDetail !== undefined">
  <div class="row">
    <button type="button" (click)="hideEventDetail()">
      <span class="back-button-arrow">&#8735;</span>
      <span>Back</span>
    </button>
  </div>
  <div class="row">
    <span>{{ eventDetail.name }}</span>
    <button type="button">
      <span class="material-icons">
        lens
      </span>
      <mat-icon *ngIf="addedToFavorites">favorite</mat-icon>
      <mat-icon *ngIf="!addedToFavorites">favorite_border</mat-icon>
    </button>
  </div>
  <div class="row">
    <!-- tab navigator -->
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Events">
        
      </mat-tab>

      <mat-tab label="Artists/Team">
        
      </mat-tab>

      <mat-tab label="Venue">
        
      </mat-tab>
    </mat-tab-group>
  </div>
</div>