#event-detail-container {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

#arrow-left {
  height: 20px;
  width: 22px;
  font-size: 26px;
  color: lightgray;
}

#like-button {
  padding: 4px 7px;
}

.heart-icon {
  padding-top: 3px;
}

::ng-deep.mat-mdc-tab-group.mat-primary .mat-mdc-tab:not(.mat-mdc-tab-disabled) {
  width: 20%;
}

::ng-deep.mat-mdc-tab-labels {
  background-color: #26A69A;
}

::ng-deep.mat-mdc-tab-group.mat-primary .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: white;
}

::ng-deep.mat-mdc-tab-group.mat-primary .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label {
  color: rgba(255, 255, 255, 0.6);
}

@media all and (max-width: 900px) {
  #event-detail-container {
    width: calc(100% - 12px);
  }
}

@media all and (min-width: 901px) {
  #event-detail-container {
    width: 860px;
  }
}